name: Deploy CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.x

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Install deps and build
        run: |
          make deps
          make ensure
          make test
          make build-linux-amd64

      - name: Login to Quay.io
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Build and push to registry
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            quay.io/elisaoyj/runasuser-admission-controller:latest
            quay.io/elisaoyj/runasuser-admission-controller:${{ github.sha }}
